.container{
    /* border: 1px solid black; */
    padding: 10px ;
    width : 80%;
    margin: 0 auto;
    text-align: center;
}

.button, .result-1{
    display : flex ;
    border: 1px solid black; 
    margin: 20px ;
    justify-content: center;
}

.button div{
    margin: 10px ; 
    align-items: center;
}

.img-result, .result-2 img{
    margin: 10px ;
    justify-content: space-around;
    box-shadow: 0px 10px 40px;
}

.RPSbutton {
    display : flex ;
    padding: 10px;
    justify-content: space-around;
}
.RPSbutton img:hover{
    box-shadow: 0px 10px 40px rgb(82, 34, 192);
    margin: 2px;
}